client_domain: chatgpt-ui.test
django_domain: server.chatgpt-ui.test

db_url: postgres://postgres:postgres@chatgptdb:5432/chatgpt
db_name: chatgpt
db_username: postgres
db_password: postgres
django_superuser_username: admin
django_superuser_password: password
django_superuser_email: admin@example.com
account_email_verification: none

backend_url: http://chatgpt-ui-wsgi-server

server_domain: http://chatgpt-ui-web-server
nuxt_public_app_name: ChatGPT UI
