APP_DOMAIN=server.chatgpt-ui.test
DB_URL='postgres://postgres:postgres@chat-ui.test:32532/chatgpt'
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=password
DJANGO_SUPERUSER_EMAIL=admin@example.com